
<%inherit file="base.html"/>

<%block name = "content">

<div id="login" style="text-align:center">
     <form action="${url_for("login")}" method = "post">
        用户 <input name = "username" type="text">
        <br>
        <br>
        密码 <input name = "password" type="password">
        <br>
        <br>
          % if error:
            <span style="color: red">Error: ${ error }</span>
          % endif
        <br>
        <br>
        <input type="submit">
     </form>
</div>


</%block>